@model IEnumerable<Notes.Models.Notes>

@{
  ViewBag.Title = "Notlar";
  int? userId = Convert.ToInt32(ViewData["Id"]);
}

<h2>Notlarım</h2>

<p>
  @Html.ActionLink("Oluştur", "Create", new { UserId = userId })
</p>
<p>
  <a href="@Url.Action("Logout","Home")">Çıkış Yap</a>
</p>
<table class="table">
  <tr>
    <th>
      @Html.DisplayNameFor(model => model.Content)
    </th>
    <th></th>
  </tr>

  @foreach (var item in Model)
  {
    <tr>
      <td>
        @Html.DisplayFor(modelItem => item.Content)
      </td>
      <td>
        @Html.ActionLink("Düzenle", "Edit", new { id = item.Id, UserId = userId }) |
        @Html.ActionLink("Sil", "Delete", new { id = item.Id, UserId = userId })
      </td>
    </tr>
  }

</table>
